<% layout("/layouts/boilerplate") %>

    <body>
        <div class="filters">
            <div class="filter" data-filter="Trending">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter" data-filter="Rooms">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter" data-filter="Iconic Cities">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>
            <div class="filter" data-filter="Mountains">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter" data-filter="Castles">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
            <div class="filter" data-filter="Amazing Pools">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>
            <div class="filter" data-filter="Camping">
                <div><i class="fa-solid fa-tents"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter" data-filter="Farms">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter" data-filter="Arctic">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter" data-filter="Beaches">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beaches</p>
            </div>
            <div class="filter" data-filter="All">
                <div><i class="fa-solid fa-globe"></i></div>
                <p>All</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>
        <div class="row listing-body mt-3">
            <% for(listing of listings) { %>
                <a href="/listings/<%= listing._id %>">
                    <div class="card cols" data-category="<%= listing.category %>">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="property picture">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <span class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b><br>
                            </span>
                                <span class="price">&#x20B9;<%= listing.price.toLocaleString("en-IN") %>/night</span>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>